html, body{
    margin: 10px;
    margin-top: 50px;
    background-color: #6e777d;
}

.name-title{
    height: 50px;
    text-align: center;
}

.option{
    height: 80px;
    min-width: 100px;
    color: white;
    background-color: black;
    border: 6px double;
}

.option:hover{
    color: yellow;
    cursor: pointer;
}

.option:active{
    color: green;
}

.hidden{
    visibility: hidden;
}

.ryhes-text{
    color: darkgreen;
}

.kanata-text{
    color: darkblue;
}

#title-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #394045;
    color: #101315;
}

#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #394045;
    color: #101315;
}

/* #scene{
    height: 400px;
} */
/* 
#center, #protag, #other{
    background-image: url(images/Game_BG_Kitchen.png);
    background-attachment: fixed;
    background-size: 100%;
    background-position: 50% -200px;
} */

#background{
    background-image: url(images/Game_BG_Kitchen.png);
    background-position: center;
    background-size: 100%;
    height: 400px;
}

#center.kitchen, #protag.kitchen, #other.kitchen{
    background-image: url(images/Game_BG_Kitchen.png);
}

#center.forest, #protag.forest, #other.forest{
    background-image: url(images/Game_BG.png);
}

#text-box{
    min-height: 100px;
    max-height: 150px;
    overflow-y: auto;
}

#Kanata{
    background-image: url(images/Kanata_Temp.png);
    background-size: 240%;
    background-position-x: center;
    background-position-y: 100%;
    background-repeat: no-repeat;
}


#Kanata.open{
    background-image: url(images/Kanata_Open_Temp.png);
}

#Kanata.right{
    background-image: url(images/Kanata_Temp_Right.png);
}

#Kanata.right.open{
    background-image: url(images/Kanata_Temp_Right_Open.png);
}

#Kanata .name-title{
    background-color: darkblue;
    color: white
}

#Ryhes{
    background-image: url(images/Ryhes_Temp.png);
    background-size: 240%;
    background-position-x: center;
    background-position-y: 100%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 780px){
    #Kanata, #Ryhes{
        background-size: 350px;
    }
    #center, #protag, #other{
        background-size: 100%;
        background-position: 50% -200px;
    }
}

@media screen and (min-width: 768px) and (max-width: 780px){
    #Kanata, #Ryhes{
        background-size:340px;
    }
    #center, #protag, #other{
        background-size: 620px;
        background-position: 50% 0px;
    }
}

@media screen and (min-width: 660px) and (max-width: 768px){
    #Kanata, #Ryhes{
        background-size:350px;
    }
    #center, #protag, #other{
        background-size: 620px;
        background-position: 50% 0px;
    }
}

@media screen and (min-width: 630px) and (max-width: 660px){
    #Kanata, #Ryhes{
        background-size:330px;
    }
    #center, #protag, #other{
        background-size: 620px;
        background-position: 50% 0px;
    }
}

@media screen and (min-width: 600px) and (max-width: 630px){
    #Kanata, #Ryhes{
        background-size:320px;
    }
    #center, #protag, #other{
        background-size: 620px;
        background-position: 50% 0px;
    }
}

@media screen and (max-width: 600px){
    #Kanata, #Ryhes{
        background-size:300px;
    }
    #center, #protag, #other{
        background-size: 620px;
        background-position: 50% 0px;
    }
}

#Ryhes.open{
    background-image: url(images/Ryhes_Open_Temp.png);
}

#Ryhes.left{
    background-image: url(images/Ryhes_Temp_Left.png);
}

#Ryhes.left.open{
    background-image: url(images/Ryhes_Temp_Left_Open.png);
}

#Ryhes.left.surprised{
    background-image: url(images/Ryhes_Temp_Left_Surprised.png);
}

#Ryhes .name-title{
    background-color: #002500;
    color: white
}

#menu-card{
    height: 150px;
    background-color: black;
    border: 6px double white;
}